/*
 * Author: Cailan Lay
   Add stuff by: Harpreet kalsi
 */
#btnAgents, #btnCustomers, #btnBookings, #btnSuppliers {
    -fx-background-radius: 35 0 0 35;
    -fx-background-color: #74b9ff;
}

#btnAgents:hover, #btnCustomers:hover, #btnBookings:hover, #btnSuppliers:hover {
    -fx-background-color: #74a5ff;
}

#btnAbout, #btnCustomerAbout ,#btnAboutBookings, #btnAboutSupplier{
    -fx-background-color:  #dfe6e9;
    -fx-border-width: 1;
    -fx-border-color: #37474F;
    -fx-border-radius: 3;
}

#btnAbout:hover, #btnCustomerAbout:hover, #btnAboutBookings:hover, #btnAboutSupplier:hover{
    -fx-background-color: #B0BEC5;
}

#btnCustomerEdit, #btnAgentEdit ,#btnBookingEdit,#btnSupplierEdit{
    -fx-background-color: #dfe6e9;
    -fx-border-color: #2d3436;
}