/*
 * Author: Cailan Lay
 */
#btnAgents, #btnCustomers, #btnBookings, #btnSuppliers {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#btnAgents:hover, #btnCustomers:hover, #btnBookings:hover, #btnSuppliers:hover {
    -fx-background-color: #3ddad7;
}

#btnAbout, #btnCustomerAbout {
    -fx-background-color:  #dfe6e9;
    -fx-border-width: 1;
    -fx-border-color: #37474F;
    -fx-border-radius: 3;
}

#btnAbout:hover, #btnCustomerAbout:hover{
    -fx-background-color: #B0BEC5;
}

#btnCustomerEdit, #btnAgentEdit {
    -fx-background-color: #dfe6e9;
    -fx-border-color: #2d3436;
}