/*
 * Author: Cailan Lay
 */
#btnAgents, #btnCustomers, #btnBookings, #btnSuppliers, #btnProducts {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: transparent;
}

#btnAgents:hover, #btnCustomers:hover, #btnBookings:hover, #btnSuppliers:hover, #btnProducts:hover {
    -fx-background-color: #3ddad7;
    -fx-effect: dropshadow(three-pass-box, #133589, 10, 0, 0, 0);
}

#btnAbout, #btnCustomerAbout, #btnAboutBookings, #btnAboutSupplier {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #3ddad7;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

#btnAbout:hover, #btnCustomerAbout:hover, #btnAboutBookings:hover, #btnAboutSupplier:hover, #btnNewAgent:hover, #btnNewCustomer:hover, #btnNewProduct:hover {
    -fx-background-color: #edfafd;
}

#btnCustomerEdit, #btnAgentEdit, #btnEdit, #btnCancel {
    -fx-background-color: transp, arent;
    -fx-border-width: 1;
    -fx-border-color: #2d3436;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#btnCustomerEdit:hover, #btnAgentEdit:hover, #btnEdit:hover, #btnCancel:hover {
    -fx-background-color: #ECEFF1;
}

#btnCustomerSave, #btnAgentSave, #btnProductsSave, #btnAddAgent, #btnAddProduct {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #3ddad7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#btnCustomerSave:hover, #btnAgentSave:hover, #btnProductsSave:hover, #btnAddAgent:hover, #btnAddProduct:hover {
    -fx-background-color: #edfafd;
}

#btnAgentBack, #btnCustomerBack  {
    -fx-background-color: linear-gradient(from 25% 89% to 50% 50%, #3ddad7, #2a93d5);
    -fx-background-radius: 0;
}

#btnAgentBack:hover, #btnCustomerBack:hover {
    -fx-background-color: #2a93d5;
}

#btnClose {
    -fx-background-color: #3ddad7;
    -fx-background-radius: 0;
    -fx-text-fill: #ffff;
}

#btnClose:hover, #btnClose:pressed {
    -fx-background-color: #2a93d5;
}

#btnNewAgent, #btnNewCustomer, #btnNewProduct {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #3ddad7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


